<a href="https://colab.research.google.com/github/Sagor22059/IT22059SAGOR/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Creating Variables

x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
x = 4       # x is of type int
x = "Sagor" # x is now of type str
print(x)

Sagor

In [10]:
#casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

In [6]:
#Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
#Single or Double Quotes?
x = "John"
# is the same as
x = 'John'
print(x)

John

In [11]:
#Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a
print(a, A)

4 Sally

In [13]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myVar)

John

In [14]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"
print(2mybar
      )

SyntaxError: invalid decimal literal (<ipython-input-14-c71a1b91d784>, line 2)

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange